{% extends 'doctor-base.html' %} {% block doctor %}

  <!-- Main -->
  <main class="main-content fade-in">
    <section class="section container reveal">
      <h1 class="h2">Hi, {{ request.session.doctor_name }}</h1>
      <p class="sub">Welcome! Quick snapshots of your day.</p>
      {{doc_obj}}
      <div class="grid cards">
        <div class="card hover-lift reveal">
          <h3>Specialist</h3>
          <p class="sub">{{ request.session.doctor_specialist }}</p>
        </div>
        <div class="card hover-lift reveal">
          <h3>Experience</h3>
          <p class="sub">{{ request.session.doctor_experience }}</p>
        </div>
        <div class="card hover-lift reveal">
          <h3>Gmail ID</h3>
          <p class="sub">{{ request.session.doctor_session }}</p>
        </div>
      </div>
    </section>
  </main>

{% endblock %}