{% extends 'doctor-base.html' %} {% block doctor %}

  <main class="main-content fade-in">
    <section class="section container reveal">
      <h2 class="h2">👁️ Account Overview</h2>
      <div class="card" style="padding:1rem;">
        <p><b>Name:</b> {{ doctor_acc.name }}</p>
        <p><b>Email:</b> <span id="accountEmail">{{ doctor_acc.email }}</span></p>
        <p><b>Specialization:</b> {{ doctor_acc.specialist }}</p>
        <p><b>Clinic:</b> Health Buddy Clinic</p>
      </div>
    </section>
  </main>

{% endblock %}