{% extends 'patient-base.html' %} {% block patient %}

  <main class="main-content fade-in">
    <section class="section container reveal">
      <h2 class="h2">👁️ View Account</h2>
      <div class="card" style="padding:1rem;">
        <p><b>Name:</b> {{ patient.name }}</p>
        <p><b>Email:</b> <span id="accountEmail">{{ patient.email }}</span></p>
        <p><b>Disease:</b> {{ patient.disease }}</p>
        <p><b>Status:</b> {{ patient.status }}</p>
      </div>
    </section>
  </main>


{% endblock %}